<div class="forum-list">
    <ul>
        <div class="razdelenie-govna">
            <div class="category-menu">
                <p style="padding-bottom: 5px;">Категории:</p>
                {{ range $.Categorys }}
                <li class="li-topic-container">
                    <a class="topic-container" href="/./category/{{ .Id }}">
                        <div>
                            <span>{{ .Name }}</span>
                        </div>
                    </a>
                </li>
                {{ end }}
           </div>

            <div style="width:100%;">
                <p style="padding-bottom: 5px;">Последние сообщения:</p>
        {{ range $.LastMessages }}
                <li class="li-topic-container">
                    <a class="topic-container" href="/./topics/{{ .TopicId }}/">
                        <div>
                            <span style="font-size: 24px;">{{ .TopicName }}</span>
                            <br>
                            <span>Создал: {{ .TopicCreatedBy }}</span>
                            <p style="color: rgb(200, 200, 200); font-size: 14px;">Последняя активность: {{ .CreateTime }}</p>
                            <span>Сообщений в теме: {{ .TopicMessageCount }}</span>
                        </div>
                    </a>
                </li>
        {{ end }}
        </div>
        </div>
    </ul>
</div>