<div class="forum-list">
    <h2 style="overflow-wrap: anywhere;">{{ .Name }}</h2>

    <ul>
        {{ range $.Messages }}
        <li id="{{ .MessageId }}-a-message" style="border: 1px solid rgb(200, 200, 200); padding: 5px; position: relative;">
            <div style="display: flex; overflow-wrap: anywhere;">
                <a href="/./profile/{{ .CreatorId }}" class="a-avatar">
                    {{ if .Avatar }}
                    <img src="/./imgs/avatars/{{ .Avatar }}" loading="lazy" alt="{{ .Username }} avatar" class="avatar">
                    {{ else }}
                    <img src="/./imgs/default-avatar.jpg" loading="lazy" alt="{{ .Username }} avatar" class="avatar">
                    {{ end }}
                </a>

                <div>
                    <a href="/./profile/{{ .CreatorId }}" style="font-size: 20px;">{{ .Username }}</a>
                    <span style="color: rgb(200, 200, 200); font-size: 14px;">в {{ .CreateTime }}</span>
                    <br>
                    <span style="white-space: pre-line;" class="message-text">{{ .Message }}</span>

                    {{ if $.IsAdmin }}
                    <div class="options" style="position: absolute; top: 5px; right: 5px;">
                        <span class="dots" style="cursor: pointer;">&#x2022;&#x2022;&#x2022;</span>
                        <div class="dropdown" style="width:200px;display: none; position: absolute; right: 0; background: white; border: 1px solid rgb(200, 200, 200); z-index: 1;">
                            <div class="{{- if .IsParentedMessage -}}delete-topic{{- else -}}delete-message{{- end -}}" style="padding: 3px; cursor: pointer; text-align: center;">Удалить {{ if .IsParentedMessage -}} топик {{- else -}} сообщение{{- end -}}</div>
                        </div>
                    </div>
                    {{ end }}
                </div>
            </div>

            {{ if .SignText }}
            <div class="sign-container">
                <span>{{ .SignText }}</span>
            </div>
            {{ end }}
        </li>
        {{ end }}
    </ul>

    <label>
        {{ if $.PaginatorIsActivated }}
        <div class="paginator-and-text-container">
            {{ if $.Authorized }}
            <span class="nav-mobile"> Введите своё сообщение: </span>
            {{ end }}

            {{ if $.PaginatorIsActivated }}
            <div class="paginator-container">
                {{ if $.PaginatorLeft }}
                <a class="paginator-button" href="/./topics/{{ $.Id }}/?page={{ $.PaginatorLeft }}">‹</a>
                {{ else }}
                <a class="paginator-button paginator-block">‹</a>
                {{ end }}

                {{ range $.Paginator }}
                <a class="paginator-button" href="/./topics/{{ $.Id }}/?page={{ . }}">{{ . }}</a>
                {{ end }}

                {{ if $.PaginatorRight }}
                <a class="paginator-button" href="/./topics/{{ $.Id }}/?page={{ $.PaginatorRight }}">›</a>
                {{ else }}
                <a class="paginator-button paginator-block">›</a>
                {{ end }}
            </div>
            {{ end }}
        </div>
        {{ else }}
            {{ if $.Authorized }}
            <span> Введите своё сообщение: </span>
            {{ end }}
        {{ end }}
        {{ if $.Authorized }}
        <textarea class="message-textarea" id="message-textarea"></textarea>
        {{ end }}
    </label>
    {{ if $.Authorized }}
    <br>
    <button id="send-message">Отправить</button>
    <div id="error-msg"></div>
    {{ end }}
</div>
