<div class="forum-list">
    <h2 style="overflow-wrap: anywhere;">{{ .Name }}</h2>

    <ul>
        {{ range $.Messages }}
{{ template "message" . }}
        {{ end }}
    </ul>

    <label>
        {{ if $.PaginatorIsActivated }}
        <div class="paginator-and-text-container">
            {{ if $.Authorized }}
            <span class="nav-mobile"> Введите своё сообщение: </span>
            {{ end }}

            {{ if $.PaginatorIsActivated }}
            <div class="paginator-container">
                {{ if $.PaginatorLeft }}
                <a class="paginator-button" href="/./topics/{{ $.Id }}/?page={{ $.PaginatorLeft }}">‹</a>
                {{ else }}
                <a class="paginator-button paginator-block">‹</a>
                {{ end }}

                {{ range $.Paginator }}
                <a class="paginator-button" href="/./topics/{{ $.Id }}/?page={{ . }}">{{ . }}</a>
                {{ end }}

                {{ if $.PaginatorRight }}
                <a class="paginator-button" href="/./topics/{{ $.Id }}/?page={{ $.PaginatorRight }}">›</a>
                {{ else }}
                <a class="paginator-button paginator-block">›</a>
                {{ end }}
            </div>
            {{ end }}
        </div>
        {{ else }}
            {{ if $.Authorized }}
            <span> Введите своё сообщение: </span>
            {{ end }}
        {{ end }}
        {{ if $.Authorized }}
        <textarea class="message-textarea" id="message-textarea"></textarea>
        {{ end }}
    </label>
    {{ if $.Authorized }}
    <br>
    <button id="send-message">Отправить</button>
    <div id="error-msg"></div>
    {{ end }}
</div>
