<!DOCTYPE html>
<html lang="ru">
<head>
    <title>{{- if .Title -}}
        {{ .Title }}
    {{- else -}}
        Форум
    {{- end -}}</title>
    <link rel="stylesheet" href="/./styles/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <script src="/./scripts/main.js"></script>
</head>

<body>
    <div class="container">
        <div class="in-container noselect">
                <a class="logo" href="/">Форумчанский</a>
                <nav class="nav-mobile">
                    <ul class="ul-container">
                        <!--<a class="main-button" href="/./users">Юзеры</a>
                        <a class="main-button" href="/./faq">FAQ</a>-->
                    </ul>
                </nav>

            {{ if $.Authorized }}
            <a id="menu-button" class="login-button profile-button">
                {{ if $.Avatar }}
                <img src="/./imgs/avatars/{{ $.Avatar }}" width="24" height="24" alt="avatar" style="object-fit: cover; vertical-align: middle; border-radius: 100%; box-shadow: 0 0 1px black;">
                {{ end }}
                <span class="nav-mobile">{{ $.Username }}</span>
            </a>
            {{ else }}
            <a class="login-button profile-button" href="/./login">Войти</a>
            {{ end }}
        </div>
    </div>


    <div id="menu" class="menu-container">
        <!--<a class="main-button-mobile menu-button" href="/./users">Юзеры</a>
        <a class="main-button-mobile menu-button" href="/./faq">FAQ</a>
        <div class="main-button-mobile sign-container"></div>-->
        {{ if $.IsAdmin }}
        <a class="menu-button" href="/./admin">Админ-панель</a>
        <div class="sign-container"></div>
        {{ end }}
        <a class="menu-button" href="/./profile/{{ $.AccountId }}">Мой профиль</a>
        <a class="menu-button" id="settings-button" href="/./profile/settings">Изменить профиль</a>
        <a class="menu-button" id="logout-button">Выйти с аккаунта</a>
    </div>
    <div class="page">
        {{- $.Content -}}
    </div>
</body>
</html>