<div class="forum-list">
    <div style="display: flex;">
        <h2 style="margin: 0;">{{ $.Name }}</h2>
        {{ if $.Authorized }}
        <a href="/./topic/create?category={{ $.Id }}" style="text-align: right;line-height:32px;margin: 0 0 0 auto;"> Создать новый топик </a>
        {{ end }}
    </div>
    <p style="padding-bottom: 5px;">{{ $.Description }}</p>

    <ul>
{{ range $.Topics }}
    {{ template "topic" . }}
{{ end }}
    </ul>

    {{ if $.PaginatorIsActivated }}
        {{ if $.PaginatorLeft }}
        <a class="paginator-button" href="/./category/{{ $.Id }}/?page={{ $.PaginatorLeft }}">‹</a>
        {{ else }}
        <a class="paginator-button paginator-block">‹</a>
        {{ end }}

        {{ range .Paginator }}
            <a class="paginator-button" href="/./category/{{ $.Id }}/?page={{ . }}">{{ . }}</a>
        {{ end }}

        {{ if .PaginatorRight }}
        <a class="paginator-button" href="/./category/{{ $.Id }}/?page={{ .PaginatorRight }}">›</a>
        {{ else }}
        <a class="paginator-button paginator-block">›</a>
        {{ end }}
    {{ end }}
</div>