<div class="forum-list">
    <h2>Форум</h2>
    <ul>
        {{ if .categorys_is_empty }}
        <div class="not-authorized-container">
            <p>В данный момент категорий нет.</p>
        </div>
        {{ else }}
            {{ range .categorys}}
            <li class="li-topic-container">
                <a class="topic-container" href="/./category/{{ .forum_id }}">
                    <div>
                        <span style="font-size: 28px;">{{ .forum_name }}</span>
                        <br>
                        <span>{{ .forum_description }}</span>
                    </div>
                </a>
            </li>
            {{ end }}
        {{ end }}
    </ul>
</div>