<div class="login-form">
    <h3>Авторизация</h3>
    <label class="login-containers">
        <input name="login" placeholder="Логин">
    </label>

    <label class="login-containers">
        <input name="password" placeholder="Пароль">
    </label>

    <label class="login-containers">
        <button id="login-btn">Войти</button>
    </label>

    <div class="login-text" id="error-msg"></div>
    <p class="login-text">Вы ещё не с нами?<br><a href="/register">Зарегистрируйтесь!</a></p>
</div>